<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ODISSEIA - Listar valores de glicémia</title>
    </head>

    <body style="padding-top:10px; padding-left:20px; font-size: 20px">
        {% if params.get("num_regiao") is none %}
            <h2>Listar valores de glicémia máximo e mínimo por concelho:</h2>

            <form method="post">
                <div class="block">
                    <label style="display: inline-block; width: 180px; text-align: right;">Número de região: </label>
                    <input name="num_regiao">
                </div>
                <div class="block" style="display: inline">
                    <label style="display: inline-block; width: 180px; text-align: right;">Número de concelho: </label>
                    <input name="num_concelho">
                </div>
                <input type="submit" value="Listar">
            </form>

        {% elif cursor %}
            <h2>Valores de glicémia no concelho {{ params.get("num_concelho") }} da região {{ params.get("num_regiao") }}:</h2>

            {% if cursor.rowcount == 0 %}
                <p>Não foram realizados testes à glicémia neste concelho.</p>

            {% else %}
                <div style="padding-left:20px;">
                    <table border="2px">
                        <thead>
                            <tr>
                                <th>Número de doente</th>
                                <th>Valor de glicémia mais alto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in cursor %}
                                <tr>
                                    <td>{{ record[0] }}</td>
                                    <td>{{ record[1] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <table style="margin-top:15px;" border="2px">
                        <thead>
                            <tr>
                                <th>Número de doente</th>
                                <th>Valor de glicémia mais baixo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in cursor %}
                                <tr>
                                    <td>{{ record[2] }}</td>
                                    <td>{{ record[3] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

        {% else %}
            <p>Erro: Insucesso na obtenção dos dados!</p>
        {% endif %}
    </body>
</html>
