<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ODISSEIA - Análises</title>
    </head>

    <body style="padding-top:10px; padding-left:20px; font-size: 20px">
        {% if params.get("num_analise") is none %}
            <h2>Insira operação pretendida:</h2>
            <form method="post">
                <div class="block">
                    <div class="block">
                        <label style="display: inline-block; width: 160px; text-align: right;">Número de análise: </label>
                        <input name="num_analise">
                    </div>
                    <div class="block" style="display: inline-block;">
                        <label style="display: inline-block; width: 160px; text-align: right;">Operação: </label>
                        <select name="op">
                            <option value="i">Inserir</option>
                            <option value="e">Editar</option>
                            <option value="d">Remover</option>
                        </select>
                    </div>
                    <input type="submit" value="Realizar operação">
                </div>
            </form>

        {% elif cursor %}
            <h3>Operação realizada com sucesso!</h3>
            <p style="padding-left: 25px; font-size: 18px"><a href="index">Voltar</a></p>

        {% elif params.get("num_analise") is not none %}
            {% if params.get("op") == "i" %}
                <h2>Insira dados da análise {{ params.get("num_analise") }}:</h2>
                <form method="post">
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Especialidade: </label>
                        <input name="especialidade">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Número de cédula: </label>
                        <input name="num_cedula">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Número de doente: </label>
                        <input name="num_doente">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Data da consulta: </label>
                        <input name="data" type = "date">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Data registo da análise: </label>
                        <input name="data_reg" type = "date">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Parâmetro avaliado: </label>
                        <input name="nome">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Valor obtido: </label>
                        <input name="quant">
                    </div>
                    <div class="block" style="display: inline-block;">
                        <label style="display: inline-block; width: 200px; text-align: right;">Instituição: </label>
                        <input name="inst">
                    </div>
                    <input type="submit" value="Inserir">
                </form>

            {% elif params.get("op") == "e" %}
                <h2>Insira dados da análise {{ params.get("num_analise") }} (preencha o(s) campo(s) que pretende atualizar):</h2>
                <form method="post">
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Especialidade: </label>
                        <input name="especialidade">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Número de cédula: </label>
                        <input name="num_cedula">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Número de doente: </label>
                        <input name="num_doente">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Data da consulta: </label>
                        <input name="data" type = "date">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Data registo da análise: </label>
                        <input name="data_reg" type = "date">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Parâmetro avaliado: </label>
                        <input name="nome">
                    </div>
                    <div class="block">
                        <label style="display: inline-block; width: 200px; text-align: right;">Valor obtido: </label>
                        <input name="quant">
                    </div>
                    <div class="block" style="display: inline-block;">
                        <label style="display: inline-block; width: 200px; text-align: right;">Instituição: </label>
                        <input name="inst">
                    </div>
                    <input type="submit" value="Editar">
                </form>

            {% elif params.get("op") == "d" %}
                <h2>Remover a análise {{ params.get("num_analise") }} do sistema ODISSEIA?</h2>
                <form method="post">
                    <input type="submit" value="Remover">
                </form>
            {% endif %}

        {% else %}
            <p>Erro: Insucesso na obtenção dos dados!</p>
        {% endif %}
    </body>
</html>
