<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ODISSEIA - Menu</title>
    </head>
    <body style="padding-top:10px; padding-left:20px; font-size: 24px">
        <h2>Operações:</h2>
        <ul>
            <li><a href="instmedic">Inserir, editar e remover instituições e médicos</a></li>
            <li><a href="prescanalysis">Inserir, editar e remover prescrições e análises</a></li>
            <li><a href="sales">Realizar vendas em farmácia</a></li>
            <li><a href="substances">Listar substâncias</a></li>
            <li><a href="glicemia">Listar valores de glicémia</a></li>
        </ul>
    </body>
</html>
