<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ODISSEIA - Venda sem prescrição</title>
    </head>

    <body style="padding-top:10px; padding-left:20px; font-size: 20px">
        {% if params.get("num_venda") is none %}
            <h2>Insira dados para venda:</h2>

            <form method="post">
                <div class="block">
                    <label style="display: inline-block; width: 160px; text-align: right;">Número de venda: </label>
                    <input name="num_venda">
                </div>
                <div class="block">
                    <label style="display: inline-block; width: 160px; text-align: right;">Data registo: </label>
                    <input name="data_reg" type="date">
                </div>
                <div class="block">
                    <label style="display: inline-block; width: 160px; text-align: right;">Substância: </label>
                    <input name="substancia">
                </div>
                <div class="block">
                    <label style="display: inline-block; width: 160px; text-align: right;">Quantidade: </label>
                    <input name="quant">
                </div>
                <div class="block">
                    <label style="display: inline-block; width: 160px; text-align: right;">Preço: </label>
                    <input name="preco">
                </div>
                <div class="block" style="display: inline">
                    <label style="display: inline-block; width: 160px; text-align: right;">Instituição: </label>
                    <input name="inst">
                </div>
                <input type="submit" value="Realizar venda">
            </form>

        {% elif cursor %}
            <h3>Venda realizada com sucesso!</h3>
            <p style="padding-left: 25px; font-size: 18px"><a href="index">Voltar</a></p>

        {% else %}
            <p>Erro: Insucesso na obtenção dos dados!</p>
        {% endif %}
    </body>
</html>
